html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #f0f0f0;
    width: 100%;
    height: 100%;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 90%;
    max-width: 500px;
    height: max-content;
    border: 0px solid;
    border-radius: 10px;
    align-items: center;   
}

.section-box {
    width: 100%;
    height: 40px;
    display:flex;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
}

.section-title {
    width: 50%;
    color: #055876;
    text-align: center;
    align-self: center;
    overflow: hidden;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
}

.section-box .log-in{
    background-color: white;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
}

.section-box .sign-up{
    background-color: lightgrey;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
}

form {
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-sizing: border-box;
    align-items: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.form input {
    width: 100%;
    font-size: large;
    margin: 5px 0px;
    box-sizing: border-box;
    max-width: 100%;
}

.form p {
    margin: 15px 0px 0px ;
    font-size: medium;
}

.form input {
    padding: 7px;
    border: 1px solid lightgray;
    border-radius: 5px; 
}

button {
    border: 0px;
    border-radius: 10px;
    background-color: #055876;
    padding: 10px 20px;
    margin: 20px 0px;
    justify-items: center;
    cursor: pointer;
}
button h3{
    margin: 0px;
    color: white;
}

.form.log-in {
    display: flex;
}

.form.sign-up {
    display: none;
}

/* Media Queries */
@media (min-width: 600px) {
    .box {
        width: 70%;
    }
}

@media (min-width: 768px) {
    .box {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .box {
        width: 30%;
    }
}
